Purdue/1/worx/Fasttrack/Schemas/ftdesigner.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XML Spy v4.0 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="DiffResultsTable">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DiffTable">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="DocSection">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="SectionText" type="xs:string"/>
				<xs:element ref="DocSection" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element type="ReferenceType" name="Reference" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element type="PictureReferenceType" name="PictureReference" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Macro" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:attribute name="sectionLevel" type="xs:int" use="required"/>
			<xs:attribute name="textStyle" type="xs:string"/>
			<xs:attribute name="custSecID" type="xs:string"/>
			<xs:attribute name="elementPath" type="xs:string" use="required"/>
			<xs:attribute name="protected" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Endnote" type="xs:string"/>
	<xs:element name="Footnote" type="xs:string"/>
	<xs:element name="Macro">
		<xs:complexType mixed="true">
			<xs:sequence>
				<xs:element type="ReferenceType" name="Reference" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element type="PictureReferenceType" name="PictureReference" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="elementPath" type="xs:string" use="required"/>
			<xs:attribute name="elementLabel" type="xs:string" use="required"/>
			<xs:attribute name="default" type="xs:boolean"/>
			<xs:attribute name="editorClass" type="xs:string"/>
			<xs:attribute name="specialShading" type="xs:string"/>
			<xs:attribute name="autogenerates" type="xs:boolean"/>
			<xs:attribute name="shouldRun" type="xs:boolean"/>
			<xs:attribute name="timeStamp" type="xs:string"/>
			<xs:attribute name="protected" type="xs:boolean"/>
			<xs:attribute name="ftMacroType" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ReferenceType">
		<xs:attribute name="elementPath" type="xs:string" use="required"/>
		<xs:attribute name="elementLabel" type="xs:string" use="required"/>
		<xs:attribute name="editorClass" type="xs:string"/>
		<xs:attribute name="detEditorClass" type="xs:string"/>
		<xs:attribute name="deleted" type="xs:boolean"/>
		<xs:attribute name="unlinked" type="xs:boolean"/>
		<xs:attribute name="id" type="xs:ID"/>
		<xs:attribute name="default" type="xs:boolean"/>
		<xs:attribute name="required" type="xs:boolean"/>
		<xs:attribute name="inlineEditorClass" type="xs:string"/>
		<xs:attribute name="enumList" type="xs:string"/>
		<xs:attribute name="protected" type="xs:boolean"/>
	</xs:complexType>
	<xs:complexType name="PictureReferenceType">
		<xs:complexContent>
			<xs:extension base="ReferenceType">
				<xs:attribute name="renderClass" type="RenderTypes" use="required"/>
				<xs:attribute name="protected" type="xs:boolean"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="RenderTypes">
		<xs:restriction base="xs:token">
			<xs:enumeration value="mathml"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
